Checks: '-*,
bugprone-*,
clang-analyzer-*,
concurrency-*,
google-*,
misc-*,
modernize-*,
performance-*,
portability-*,
readability-*,
cppcoreguidelines-*,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-avoid-do-while,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-static-cast-downcast,
-cppcoreguidelines-pro-type-cstyle-cast,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-misc-non-private-member-variables-in-classes,
-modernize-use-trailing-return-type,
-modernize-use-std-print,
-google-explicit-constructor,
-readability-uppercase-literal-suffix,
-readability-identifier-length,
-readability-function-cognitive-complexity,
-performance-no-int-to-ptr,

hicpp-avoid-goto,
hicpp-braces-around-statements,
hicpp-deprecated-headers,
hicpp-exception-baseclass,
hicpp-function-size,
hicpp-invalid-access-moved,
hicpp-member-init,
hicpp-move-const-arg,
hicpp-multiway-paths-covered,
hicpp-named-parameter,
hicpp-new-delete-operators,
hicpp-no-assembler,
hicpp-noexcept-move,
hicpp-no-malloc,
hicpp-static-assert,
hicpp-undelegated-constructor,
hicpp-use-emplace,
hicpp-use-equals-default,
hicpp-use-equals-delete,
hicpp-use-noexcept,
hicpp-use-nullptr,
hicpp-use-override'

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'
User: Raesangur
