Checks: 'bugprone-argument-comment,
bugprone-assert-side-effect,
bugprone-macro-repeated-side-effects,
bugprone-sizeof-expression,
bugprone-suspicious-memset-usage,
bugprone-suspicious-missing-comma,
bugprone-swapped-arguments,
bugprone-terminating-continue,
bugprone-throw-keyword-missing,
bugprone-too-small-loop-variable,
bugprone-unhandled-self-assignment,
bugprone-unused-raii,
bugprone-unused-return-value,
bugprone-use-after-move,

clang-analyzer-core.DivideZero,
clang-analyzer-core.DynamicTypePropagation,
clang-analyzer-core.NonNullParamChecker,
clang-analyzer-core.StackAddressEscape,
clang-analyzer-core.UndefinedBinaryOperatorResult,
clang-analyzer-core.uninitialized.ArraySubscript,
clang-analyzer-core.uninitialized.Assign,
clang-analyzer-core.uninitialized.Branch,
clang-analyzer-core.uninitialized.CapturedBlockVariable,
clang-analyzer-core.uninitialized.UndefReturn,
clang-analyzer-core.VLASize,

clang-analyzer-cplusplus.InnerPointer,
clang-analyzer-cplusplus.Move,
clang-analyzer-cplusplus.NewDelete,
clang-analyzer-cplusplus.NewDeleteLeaks,

clang-analyzer-deadcode.DeadStores,

clang-analyzer-optin.cplusplus.VirtualCall,
clang-analyzer-optin.performance.Padding,

clang-analyzer-security.FloatLoopCounter,
clang-analyzer-security.insecureAPI.strcpy,
clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,

alpha.core.CloneChecker,
alpha.core.CallAndMessageUnInitRefArg,
alpha.core.CastSize,
alpha.core.IdenticalExpr,
alpha.cplusplus.DeleteWithNonVirtualDtor,
alpha.cplusplus.EnumCastOutOfRange,
alpha.cplusplus.InvalidatedIterator,
alpha.cplusplus.IteratorRange,
alpha.cplusplus.MismatchedIterator,
alpha.cplusplus.MisusedMovedObject,
alpha.deadcode.UnreachableCode,
alpha.security.MallocOverflow,
alpha.security.ReturnPtrRange,
alpha.unix.BlockInCriticalSection,
alpha.unix.PthreadLock,
alpha.unix.SimpleStream,
alpha.unix.Stream,
alpha.unix.cstring.BufferOverlap,
alpha.unix.cstring.NotNullTerminated,
alpha.unix.cstring.OutOfBounds,

cppcoreguidelines-avoid-goto,
cppcoreguidelines-c-copy-assignment-signature,
cppcoreguidelines-explicit-virtual-functions,
cppcoreguidelines-interfaces-global-init,
cppcoreguidelines-narrowing-conversions,
cppcoreguidelines-no-malloc,
cppcoreguidelines-pro-type-member-init,
cppcoreguidelines-pro-type-static-cast-downcast,
cppcoreguidelines-slicing,
cppcoreguidelines-pro-type-cstyle-cast,

google-build-using-namespace,
google-global-names-in-headers,
google-readability-avoid-underscore-in-googletest-name,
google-readability-braces-around-statements,
google-readability-function-size,
google-readability-namespace-comments,
google-readability-todo,
google-runtime-int,
google-runtime-operator,

hicpp-avoid-goto,
hicpp-braces-around-statements,
hicpp-deprecated-headers,
hicpp-exception-baseclass,
hicpp-function-size,
hicpp-invalid-access-moved,
hicpp-member-init,
hicpp-move-const-arg,
hicpp-multiway-paths-covered,
hicpp-named-parameter,
hicpp-new-delete-operators,
hicpp-no-assembler,
hicpp-noexcept-move,
hicpp-no-malloc,
hicpp-static-assert,
hicpp-undelegated-constructor,
hicpp-use-emplace,
hicpp-use-equals-default,
hicpp-use-equals-delete,
hicpp-use-noexcept,
hicpp-use-nullptr,
hicpp-use-override,

misc-misplaced-const,
misc-non-copyable-objects,
misc-static-assert,
misc-throw-by-value-catch-by-reference,
misc-unconventional-assign-operator,
misc-unused-using-decls,

modernize-avoid-bind,
modernize-concat-nested-namespaces,
modernize-deprecated-headers,
modernize-deprecated-ios-base-aliases,
modernize-loop-convert,
modernize-make-shared,
modernize-make-unique,
modernize-raw-string-literal,
modernize-redundant-void-arg,
modernize-replace-auto-ptr,
modernize-replace-random-shuffle,
modernize-return-braced-init-list,
modernize-shrink-to-fit,
modernize-unary-static-assert,
modernize-use-bool-literals,
modernize-use-default-member-init,
modernize-use-emplace,
modernize-use-equals-default,
modernize-use-equals-delete,
modernize-use-nodiscard,
modernize-use-noexcept,
modernize-use-nullptr,
modernize-use-override,
modernize-use-transparent-functors,
modernize-use-uncaught-exceptions,
modernize-use-using,

nullability.NullableDereferenced,
nullability.NullablePassedToNonnull,
nullability.NullPassedToNonnull,
nullability.NullReturnedFromNonnull,

performance-faster-string-find,
performance-for-range-copy,
performance-implicit-conversion-in-loop,
performance-inefficient-algorithm,
performance-inefficient-string-concatenation,
performance-inefficient-vector-operation,
performance-move-const-arg,
performance-move-constructor-init,
performance-noexcept-move-constructor,
performance-type-promotion-in-math-fn,
performance-unnecessary-copy-initialization,
performance-unnecessary-value-param,

readability-avoid-const-params-in-decls,
readability-braces-around-statements,
readability-container-size-empty,
readability-convert-member-functions-to-static,
readability-deleted-default,
readability-delete-null-pointer,
readability-function-size,
readability-identifier-naming,
readability-implicit-bool-conversion,
readability-inconsistent-declaration-parameter-name,
readability-isolate-declaration,
readability-misleading-indentation,
readability-misplaced-array-index,
readability-named-parameter,
readability-non-const-parameter,
readability-redundant-control-flow,
readability-redundant-declaration,
readability-redundant-function-ptr-dereference,
readability-redundant-member-init,
readability-redundant-preprocessor,
readability-redundant-smartptr-get,
readability-redundant-string-cstr,
readability-redundant-string-init,
readability-simplify-subscript-expr,
readability-static-accessed-through-instance'

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'
User: Raesangur
