
[submodule "Brigerad/vendor/spdlog"]
	path = Brigerad/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Brigerad/vendor/glm"]
	path = Brigerad/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Brigerad/vendor/yaml-cpp"]
	path = Brigerad/vendor/yaml-cpp
	url = https://github.com/smartel99/yaml-cpp
[submodule "Brigerad/vendor/glfw"]
	path = Brigerad/vendor/glfw
	url = https://github.com/smartel99/glfw.git
[submodule "Brigerad/vendor/imgui"]
	path = Brigerad/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Brigerad/vendor/imgui/"]
	url = https://github.com/smartel99/imgui
[submodule "Brigerad/vendor/pfr"]
	path = Brigerad/vendor/pfr
	url = https://github.com/boostorg/pfr
