[submodule "Brigerad/vendor/spdlog"]
	path = Brigerad/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Brigerad/vendor/yaml-cpp"]
	path = Brigerad/vendor/yaml-cpp
	url = https://github.com/smartel99/yaml-cpp
[submodule "Brigerad/vendor/glfw"]
	path = Brigerad/vendor/glfw
	url = https://github.com/smartel99/glfw.git
[submodule "Brigerad/vendor/imgui"]
	path = Brigerad/vendor/imgui
	url = https://github.com/smartel99/imgui
[submodule "Brigerad/vendor/pfr"]
	path = Brigerad/vendor/pfr
	url = https://github.com/boostorg/pfr
[submodule "Brigerad/vendor/implot"]
	path = Brigerad/vendor/implot
	url = https://github.com/smartel99/implot
[submodule "Frasy/vendor/CANopenNode"]
	path = Frasy/vendor/CANopenNode
	url = https://github.com/smartel99/CANopenNode
[submodule "Brigerad/vendor/imspinner"]
	path = Brigerad/vendor/imspinner
	url = https://github.com/dalerank/imspinner
[submodule "Frasy/vendor/hashdir"]
	path = Frasy/vendor/hashdir
	url = https://gitlab.com/conception-electronique-prive/tools/hashdir.git
